[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "picovector-micropython"]
	path = picovector-micropython
	url = https://github.com/pimoroni/picovector-micropython.git
